{{#each (sort-by "firstName" students) as |student|}}
  <div class="card">
    <div class="card-block">
      <div class="card-title">
        <h4>
          {{student.fullName}}
          <span class="tag tag-default pull-right">{{student.totalCoins}}</span>
        </h4>
      </div>

      <p class="card-text">
        {{! Fix this ...}}
        <ul>
          {{#each (sort-by 'value' values) as |value|}}
          <li>
            {{#each (filter-by "value" value.value student.coins) as |coin|}}
              {{fa-icon "money"}}
            {{/each}}
            x {{value.value}}
          </li>
          {{/each}}
        </ul>
      </p>

      <!-- Buttons for adding coins -->
      {{#each (sort-by "value" values) as |coin|}}
        <button class="btn btn-outline-success" {{action 'addCoin' coin.value student}}>
          {{fa-icon "plus"}} {{coin.value}}
        </button>
      {{/each}}
    </div>
  </div>
{{/each}}
