<!-- Menu Bar -->
<nav class="navbar navbar-light bg-faded">
  {{link-to "School Bank" "index" class="navbar-brand"}}

  <ul class="nav navbar-nav">
    {{#active-link tagName="li" class="nav-item"}}
      {{#link-to "index" class="nav-link"}}
        <i class="fa fa-home" aria-hidden="true"></i> Home
      {{/link-to}}
    {{/active-link}}

    {{#active-link tagName="li" class="nav-item"}}
      {{#link-to "dashboard" class="nav-link"}}
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      {{/link-to}}
    {{/active-link}}

    {{#active-link tagName="li" class="nav-item"}}
      {{#link-to "students" class="nav-link"}}
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Students
      {{/link-to}}
    {{/active-link}}

    {{#active-link tagName="li" class="nav-item"}}
      {{#link-to "coins" class="nav-link"}}
        <i class="fa fa-money" aria-hidden="true"></i> Coins
      {{/link-to}}
    {{/active-link}}
  </ul>

  <div class="float-xs-right">
    {{#if session.isAuthenticated}}
      Currently logged in as {{session.currentUser.displayName}}
      <button class="btn btn-outline-danger" {{action "signOut"}}>
        <i class="fa fa-google" aria-hidden="true"></i> Sign out
      </button>
    {{else}}
      <button class="btn btn-outline-success" {{action "signIn" "google"}}>
        <i class="fa fa-google" aria-hidden="true"></i> Sign In
      </button>
    {{/if}}
  </div>
</nav>

<!-- TODO: Fix spacing -->
<div style="height:2em;">

</div>

<!-- Content -->
{{#if session.isAuthenticated}}
  <div class="container">
    {{outlet}}
  </div>
{{/if}}
